<header class="navbar navbar-static-top">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="profile">
					Hi,<a href="/profile">{{that.data.currentUser.username}}</a>|<a href="#/login">Logout</a></p>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="userList" ng-if="that.data.isAuthorized(that.data.userRoles.admin)">
					<p>All registered users:</p>
					<ul>
					    <li ng-repeat="user in that.data.allUsers">
					        {{user.username}} ({{user.firstName}} {{user.lastName}}) ({{user.role}})
					        - <a ng-click="that.deleteUser(user.id)">Delete</a> 
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
