<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<my-box title="My Tasks" bgColor='box-blue'>
				<tasks></tasks>

			</my-box>
			<my-box title="My Photos" bgColor='box-orange'>

			    	

			</my-box>
		</div>
		<div class="col-xs-6">
			<my-box title="My Resources" bgColor='box-red'>
				<my-tabs>
			  		<my-pane title="Music">
				    	<p>Lorem ipsum dolor sit amet</p>
				    	<ul>
				    		<li></li>
				    		<li></li>
				    	</ul>
				  	</my-pane>
				  	<my-pane title="Movice">
				    	<ul>
				    		<li></li>
				    		<li></li>
				    	</ul>
				  	</my-pane>
				</my-tabs> 

			</my-box>
			<my-box title="Q&A" bgColor='box-green'>	
				<ul>
					<li></li>
					<li></li>
				</ul>
			</my-box>
		</div>
	</div>
</div>


