<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<my-box title="My Tasks" boxStyle='bg-blue'>
				<tasks></tasks>

			</my-box>
			<my-box title="My Photos" boxStyle='bg-orange'>

			    	

			</my-box>
		</div>
		<div class="col-xs-6">
			<my-box title="My Resources" boxStyle='bg-green full-box without-caption'> 
				<my-tabs tabStyle='tab-green'>
			  		<my-pane title="Resource1">
				    	<ul><li></li></ul>
				  	</my-pane>
				  	<my-pane title="Resource2">
				    	<ul><li></li></ul>
				  	</my-pane>
				</my-tabs> 

			</my-box>
			<my-box title="Q&A" boxStyle='bg-red'>	
				
			</my-box>
		</div>
	</div>
</div>


